{% extends "blog/base.html" %}
{% block content %}
    <h1>{{ exam.title }}</h1>
    <h2>Description</h2>
    <p>{{ exam.description }}</p>
    <p>Exam File: <a href="{{ exam.exam_file.url }}">Download</a></p>

    <h1>Responses</h1>
    <hr>
    {% for response in responses %}
        <p>
            Student: <b> {{ response.student.username }} </b>
            <br>
            Description: {{ response.description }}
            <br>
            Response File: <a href="{{ response.response_file.url }}">Download</a>
        </p>
        <b> score: </b>
        <form action="./score/{{ response.id }}" method="post">
            {% csrf_token %}
            <input id="score" type="number" name="score" value="{{ response.score }}">
            <input type="submit" value="save">
        </form>
        <hr>
    {% endfor %}

{% endblock content %}



