{% extends "blog/base.html" %}
{% block content %}
    <h1>{{ exam.title }}</h1>
    <h2>Description</h2>
    <p>{{ exam.description }}</p>
    <p>Exam File: <a href="{{ exam.exam_file.url }}">Download</a></p>

    <h1>Responses</h1>
    {% for response in responses %}
        <p>Student: {{ response.student.username }}</p>
        <p>Description: {{ response.description }}</p>
        <p>Response File: <a href="{{ response.response_file.url }}">Download</a></p>
        <br/> <br/>
    {% endfor %}

{% endblock content %}



